@use './index/' as *;

*,
html,
body{
    box-sizing: border-box;
}

#container{

    @include positioning(relative, 100%, 100vh);
    @include background(center, cover);

    background-image: url(https://static.vecteezy.com/system/resources/previews/001/984/861/original/abstract-blue-geometric-circles-overlapping-background-with-light-blue-free-vector.jpg);
}

.navbar-brand{
    font-family: $primary;
}

.nav{
    font-family: $tertiary;

    li{  
        font-weight: bold;

        &:hover{
            color: white;
        }
    }
}

.content{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    & h1{
        font-family: $primary;
    }

    & p{
        font-family: $secondary;
    }

    & a{
        font-family: $secondary;
        margin-left: 50%;
        transform: translate(-50%);
    }
}

.btn{
    padding: 0.5em 3em;

    &:hover{
        text-decoration: underline;
    }
}